{% extends "__layout.twig" %}
{% from "button.twig" import btn %}
{% block content %}
<div class="container fluid d-flex">
    <div class="d-flex">
        {% for object in dota_hero %}
        <div class="p-2 m-2 d-flex flex-column position-relative">
            <h1>{{object.hero_name}}</h1>
            <div class="position-absolute" style="right: 4px;top:4px">
                    <form action="/hero/delete" method="POST">
                        <input type="hidden" name="id" value="{{object.id}}">
                        <button type = "submit" class="btn btn-danger">
                            <i class="fas fa-times"></i>
                        </button>
                    </form>
                   
                        <a class="btn brn-pen" href="/hero/{{object.id}}/edit" </a>
                   
                    
            </div>
            <img class="icon" src="{{object.image_hero}}" alt="картинка не грузится">
            
            <ul class="nav nav-pills m-2 d-flex flex-column">
                <li class="nav-item mt-2 d-flex justify-content-evenly">
                    {{ btn("Картинка", "hero/#{object.id}?show=image", "light") }}
                    {{ btn("История", "hero/#{object.id}?show=description", "light") }}
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
<style>
.icon {
 width: 250px;
 height: 150px;
 border-radius: 10%;
}
</style>
{% endblock %}